*{
  margin: 0;
  padding: 0;
 
}

.escolpo{
    
}

.links{
    display:flex;
    justify-content: flex-end;
    gap: 15px;
    padding:20px;
    align-self: flex-start;
    background-color:rgba(145, 255, 0, 0.38);
}

.escolpo h1{
    font-size:500%;
    color:black;
    justify-content:center;
    text-align: center;
}

.forme {
    display:flex;
    flex-direction:column;
   align-items: center;
   gap: 30px;
   margin-top: 100px;
    


   
}

.page{
    margin-left:0%;
    display:flex;
    width:180%;
    color:black;
    background-color:rgba(0, 0, 0, 0.14);
    max-width: 600px;
    height:40px;
    border: 2px solid #000000ff;
    border-radius:5px;
    align-items:center;
}

.page:hover{
   border: 2px solid #0004ff48;
}
    
    


.buttomn{
   display:flex;
    align-items:bottom;
    color: rgba(0, 0, 0, 0.93);
    scale:150%;
    justify-content:bottom;
    margin-right:0%;
    height:30px;
    width:400px;
    border-radius:5px;
    
}
.buttomn:hover{
    transition:0.3s;
    background-color:blue;
    color:white;
}

// search advanced 

.search-advanced{


}
.forms{
    display:flex;
justify-content:space-between;
flex-direction:column;
max-width:600px;
margin-left:20px;
gap: 8px;

}
.listas:focus{
    border: 4px solid rgba(9,9,255,0.5);
}
.listas:hover{
    background-color:rgba(9, 9, 255, 0.06);
}


.search-bottom{
    display:flex;
    justify-content:center;
    margin-top:40px;
    transition:0.3s;
    scale:120%;
    max-width:100px;
    margin-left:490px;
    border-radius:2px;
}

.search-bottom:hover{
    background-color:rgba(9, 9, 255, 0.93);
    color:white;
    
}
  
.listas{
    height:30px;
     border-radius:2px
}